.theme-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background-color: rgba(0,0,0, 0.9);
    transition: 0.3s;
    transform: translateY(-100%);
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-picker-active {
    transform: translateY(0%);
}