.game-field__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.game-field {
    border-radius: 5px;
    background-color: var(--clr-gameFeld-bg);
    height: 0;
    position: relative;
}