.game-field__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.game-field {
    border-radius: 5px;
    background-color: #999999;
    height: 0;
    position: relative;
}