@keyframes congrats {
    0% {opacity: 0;}
    /* 35% {opacity: 0.2;} */
    100% {opacity: 1;}
}

.congrats {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: congrats;
    animation-duration: 1s;
}

.congrats button {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    padding: 1rem 2rem;
}
