* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: linear-gradient(180deg, rgba(111,107,107,1) 0%, rgba(55,55,55,1) 65%);
}